@import 'nib'
@import 'reset'

// VARIABLES

$buffer = 8px
$font-family = "helvetica neue"

$bg = #fefefe
$primary = #454E55
$secondary = #eeeeee

// MIXINS

test()
  border: 1px solid blue  

btn-states()
  background: #f3f3f3
  padding: $buffer * 2
  &:hover
      background: $secondary
  &:active
    background: #ddd
  &:focus
    outline: none
    

// BASE STYLEZ

*
  transition: all .15s
  box-sizing: border-box

body
	background: $bg
  font-family: $font-family
  font-size: 18px
  color: $body-font
  font-weight: 200

h1, h2, h3, h4, h5, h6
  font-weight: 100
  
// ::-webkit-input-placeholder
//    color: white
// :-moz-placeholder
//    color: white  
// ::-moz-placeholder
//    color: white
// :-ms-input-placeholder
//    color: white

// FO REAL STYLEZ

  .content
    max-width: 480px
    margin: 0 auto
    text-align: center

	input
    border: none
    padding: $buffer * 2
    font-family: $font-family
    font-size: 18px
    font-weight: 200
    height: 60px
    background: none;
    border: 1px solid transparent
    border-bottom: 1px solid $secondary
    color: $primary
    
    &:hover
      background: #f3f3f3
    
    &:focus
      outline: none
    
    &#todo-submission
      width: 78%
      display: inline-block
      
    &.checkbox
      height: auto
    
  button
    font-family: $font-family
    font-size: 18px
    display: inline-block
    border: 1px solid $secondary
    width: 20%
    btn-states()
    
    &.btn-add-task
      height: 60px
      font-size: 18px
      
  ul
    list-style-type: none
    text-align left
    padding-left: 0px
    width: 100%
    
    li      
      .task-name
        margin-left: $buffer * 2
        
      .li-content
        padding: $buffer * 2
      
      &:hover
        background-color: #f3f3f3
        background-image: url('../assets/images/edit_icon.svg')
        background-repeat: no-repeat
        background-size: 20px
        background-position: right 20px top 16px
        transition:none
        
  
